# OS X Finder
.DS_Store

# Xcode per-user config
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata
xcuserdata/
*.xcuserstate
xcshareddata
xcdebugger
.LSOverride

# Build products
DerivedData/
build/
*.o
*.LinkFileList
*.hmap

# Automatic backup files
*~.nib/
*.swp
*~
*.dep

ExifTool
ExifTool versions

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.sdf
*.VC.db
*.VC.VC.opendb
.vs/
ipch/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
source/resource

